/* universal styles */
html {
  font-size: 18px;
}

body {
  font-family: helvetica;
  background-color: black;
}



/* header */
.header {
  color: white;
  display: flex;
  width: 40rem;
  justify-content: center;

}

#logo {
  height: 1.5rem;
  display: inline-flex;
  position: relative;
  padding-left: 0.5rem;
  padding-right: 1rem;
  top: 1.66rem

}

#name {
  font-size: 1rem;
  position: relative;
  display: inline-flex;
  padding-top: 1.66rem;
  padding-bottom: 1.66rem
}

/* second section */
.new-arrival {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
  height: 25rem;
  background-size: cover;
}

#container {
  background-color: black;
  color: white;
  width: 23rem;
  height: 10rem;
  position: relative;
  top: 9rem;
  left: 10rem;
  font-weight: bold;
}

#new {
  font-size: 1rem;
  padding-left: 2rem;
  position: relative;
  top: 1.75rem;
}

#sports {
  font-size: 2rem;
  padding-left: 2rem;
}

/* navigation */
.navigation {
  background-color: firebrick;
  height: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  padding-left: 8rem;
  padding-right: 8rem;
}

/* products */

.section3 {
  background-color: white;
  height: 30rem;
  display: flex;
  justify-content: space-around;
  padding-left: 8rem;
  padding-right: 8rem;
}

.pictures {
  display: flex;
  position: relative;
  top: 2rem;
}

.product {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14rem;
  height: 11rem;
  border: solid black 0.2rem;
  margin: 0rem 1rem;
}

.names {
  display: flex;
  background-color: black;
  color: white;

}


#pen {
  width: 9rem;
  height: 7rem;

}

#watch {
  width: 9rem;
  height: 9rem;
}

#glasses {
  width: 9rem;
  height: 6rem;
}


/* footer */
.footer {
  background-color: black;
  height: 5rem;
  color: white;
  display: flex;
  align-items: center;
  text-align: left;
  position: relative;
  left: 10rem;
}
